<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/api/login" method="post">
    <div>
        <label for="username">Username</label>
        <input id="name" name="name" type="text" autocomplete="username" placeholder="username or email" required />
    </div>
    <div>
        <label for="current-password">Password</label>
        <input id="password" name="password" type="password" autocomplete="current-password" required />
    </div>
    <div>
        <button type="submit">Sign in</button>
    </div>
</form>
</body>
</html>